<div class="container">
    <h1>All Applicants</h1>
    <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Full name</th>
        <th>Position</th>
    </tr>
    </thead>
    
    <% @applicants.each do |applicant| %>
        <tr>
        <td><%= link_to applicant.fullname, applicant_path(applicant) %></td>
        <td><%= link_to applicant.position.title, position_path(applicant.position) %></td>
        </tr>
    <% end %>
    </table>
</div>