<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">RecruitR</a>
    <a class="btn btn-outline-primary" href=<%= positions_path %> role="button">
    Positions
    </a>
      <a class="btn btn-outline-success" href=<%= applicants_path %> role="button">
      Applicants
      </a>
    <a class="btn btn-outline-warning" href=<%= recruiters_path %> role="button">
    Recruiters
    </a>
</nav>